* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body {
    background-color: rgb(59, 59, 203);
    max-height: 800px;
   
    
  }
  
  .navbar {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    position: relative;
    content: "";
    display: flex;
  }


  .contact{
    background-color: #1c1c1c;
    color: whitesmoke;
    margin-left: 1100px;
    margin-top: 12px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 28px;
  }
  .logo{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .transaction{
    position: relative;

  }
  .content{
    position: relative;
    width:900px;
    margin-left: auto;
    margin-right: auto;
  }
  .content h1{
    font-size: 50px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
    color: whitesmoke;
  }


  .transac-start {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    border-radius:64px;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    font-family: "karla", sans-serif;
    margin-left: 650px;
    margin-top: 40px;
    margin-bottom: 120px;
  }
  .transacbtn{
    position:absolute;
    top:225px;
    left: 50%;
    width: 540px;
    /*height: 440px;*/
    height: 90vh;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);

    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 36px;

  }

  .payform .transac-title{
    text-align: center;
    font-size: 35px;
    width:300px;
    text-shadow: #0f1419 1px 1px 2px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .transacinput input[type=email], input[type=text]{
    margin-bottom: 20px;
    width: 240px;
    height: 35px;
    border: 1px solid #ff7200;
  
    color: antiquewhite;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: "karla",sans-serif;
  }
  .cancelbtn,
.paybtn{
  background-color: rgb(59, 59, 203);
    color: white;
    padding: 14px 20px;
    border-radius:64px;
    padding: 14px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    font-family: "karla", sans-serif;
    border: none;
}

.menu{
    width: 300px;
}
ul{
    list-style: none;
}
.know a,
.support a{
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 30px;
}
.know,
.support{
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 30px;
}
/* ===FOOTER=== */


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}


.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright-text
{
  margin:0
}
.position{
  margin-left:500px;
}