* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-color: rgb(59, 59, 203);
    max-height: 800px;
   
    
  }
  
  .navtag {
    background-color: rgb(255, 255, 255);
    padding: 1em;
  
  }
  .brand {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.2em;
  }
  
  .hero {
    background-color: rgb(59, 59, 203);;
    display: flex;
    flex-direction: column;
  
  }
  
  .link > li {
    list-style: none;
    margin: 0;
  }
  a{
    color: rgba(0, 0, 0, 0.514);
  }
  
  .link > li > a {
    text-decoration: none;
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    display: none;
  }
  
  .heading {
    font-family: "Rubik", sans-serif;
    font-size: 64px;
    margin-top: 128px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 2%;
    line-height: 72px;
  }
  .subheading {
    font-family: "karla", sans-serif;
    font-size: 27px ;
    margin-top: 24px;
    font-weight: medium;
    padding: 0.8em  0.6em;
    color: whitesmoke;
    text-align: center;
  }
  
  .illustration {
    width: 50%;
    height: 50%;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 185px;
  }
  
  li{
    color: blue;
  }
  
  .land-btn{

    margin-top:40px;
    display: flex;
    justify-content: center;
  }


  .copy{
    font-family: sans-serif;
    font-size: 15px ;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
  }

  .btn2 {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    border-radius:64px;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    font-family: "karla", sans-serif;
  }
  .btn1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border-radius:64px;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "karla", sans-serif;
    margin-right: 24px;
    border: none;
  }